<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="icon" href="{{url_for('static', filename='assets/icons/icon1.png')}}" type="image/x-icon">
    <title>Login</title>
</head>
<body>
  

    <header>
        <nav class="navbar" role="navigation" aria-label="Main Navigation" >
            <h1 class="task_master">Task Master</h1>
            <ul class="navbar__list">
             <li class="navbar__item"><a class="navbar__link" href="{{ url_for('index') }}">Home</a></li>
             <li class="navbar__item"><a class="navbar__link" href="{{ url_for('register') }}">Register</a></li>
             <li class="navbar__item"><a class="navbar__link" href="{{ url_for('login') }}">Login</a></li>
           </ul>
        </nav>
   </header>

   
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-container">
          {% for message in messages %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}


   <!--- login page --->

   <div class="login__container">
    <form class="login__form" action="/login" method="POST">
        <h1 class="login__title">Login</h1>
        
        <div class="form__group">
            <label class="login__label" for="username">Username:</label>
            <input class="login__input" type="text" id="username" name="username" placeholder="Enter Your Username" required>
        </div>
        
        <div class="form__group">
            <label class="login__label" for="password">Password:</label>
            <input class="login__input" type="password" id="password" name="password" placeholder="Enter Your Password" required>
        </div>
        
        <input class="login__button" type="submit" value="Login">
    </form>
</div>

<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>